.height-300{
    height: 300px;
}
.scroll{
    scroll-behavior:true;
    height: 300px;

}
.padding-16 {
    margin: 16px; 
    padding: 16px;
  }
  .w-300-300{
    margin-left: 25%;
    height: 300px;
    width:50%;
    

  }